/*div {
	font-family: 'courier new';
}*/

.cell {
	background: palegoldenrod;
	border: 1px solid gray;
	float:left;
	/*-webkit-border-radius: 6px;
	border-radius: 6px; 
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;*/
	cursor: pointer;
	clear:both;
}


.body{
	overflow: hidden;
}

.cell textarea {
	border: 0px solid #000000;
	background: inherit;
	padding: 0;
	/*font-size: 34px;*/
	text-align: center;
	resize: none;
	margin:0;
	overflow: hidden;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	cursor: pointer;
}

.board {
	margin-bottom: 5px;
}

.smaller textarea{
	font-size: 24px;
	margin-top:5px;
	height: 35px;
}

.options {
	width: 330px;
}

.buttons {

	/*position:absolute;*/
	/*border: 1px black solid;*/
	width:200px;
	display: inline-block;

}

.buttons button{
	border: #aaa solid 1px;
	/*padding: 2px;*/
	width: 63px;
	color: .2*#fff;
	text-align: center;
	background-color: #fff;
	font-size: 11px;
	line-height: 13px;
	cursor: default;
	/*opacity: 0.8;*/

	-webkit-border-radius: 5px;
	border-radius: 5px; 
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.buttons button:hover {
	color: #000000;
	border-color: #000;
}

.title {
	font-size: 30px;
}
.instructions {
	font-size: 10px;
}

.percent {
	position: absolute;
	/*top: 40%;*/
	font-size: 180px;
	font-weight: bold;
	/*text-align: center;*/
}

.bonus {
	background: pink;
}

.empty {
	background: black;
}

.highlight {
	background: lightgreen;
}

.cell textarea:focus {
	background: lightblue;

}

.row {
	clear:both;
}

.column {
	display: inline-block;
}

.clear {
	clear:both;
}

.filter {
	font-size: 11px;
	position: relative;
	bottom:15px;
	/*left:180px;*/
	/*margin-left:10px;*/
	/*border:1px black solid;*/
	/*display: inline-block;*/
	display: none;
}

.filter label{
	/*position: relative;
	border: 1px black solid;
	right:5px;
	bottom:3px;
	margin:0;*/
}

.fill-option {
	/*position: absolute;*/
	/*left: 245px;*/
	position: relative;
	bottom:5px;
	font-size: 11px;
	display:inline-block;
	padding: 3px;
	border: 1px gray solid;
}
.fill-option input {
	margin: 0;
	border:solid 1px black;
}

.fill-option label{
	position: relative;
	bottom: 3px;
	right: 2px;
}

.dict {
	display: none;
}

.solutions {
	position: absolute;
	right: 0;
	top: 10px;
	overflow: auto;
	min-width: 250px;
}

.solution {
	display:inline-block;
	border:solid 1px grey;
	font-size: 14px;
	padding:3px;
	margin:2px;
	background: #9fd4d4;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	cursor: pointer;

	-webkit-box-shadow: 0px 0px 6px 0px #000;
    box-shadow: 0px 0px 6px 0px #000;

    -webkit-user-select: none;
    -moz-user-select:none;
    -khtml-user-select:none;
}

.selected {
	background: lightgreen;
}

.starts {
	background: #00994d;
}

.solution:hover {
	background:palegreen;
}

.hide {
	display: none;
}

.line {
	position: absolute;
	width: 50px;
	height: 10px;
	background: white;
	opacity: .5;
	z-index: 5;
	bottom: 20px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	pointer-events: none;
}

.vertical {
	-moz-transform:rotate(90deg);
	-moz-transform-orign: bottom left;
	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: bottom left;
	-o-transform: rotate(90deg);
	-o-transform-origin: bottom left;
}

.vertical {
	-moz-transform:rotate(90deg); 
	-moz-transform-origin: bottom left;
	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: bottom left;
	-o-transform: rotate(90deg);
	-o-transform-origin:  bottom left;
}

.drdiagonal {
    width:70.7106px;
    -moz-transform:rotate(45deg); 
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.dldiagonal {
    width:70.7106px;
    -moz-transform:rotate(-45deg); 
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}


.definition {
	/*border: 1px solid;*/
	
	-webkit-box-shadow: 0px 0px 6px 0px #000;
    box-shadow: 0px 0px 6px 0px #000;

    margin:0px 1px 4px 1px;

	padding: 5px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}



.definition .number{
	font-weight: bold;
	font-size: 15px;
}

.definition .definition-text {
	font-family: "Brush Script MT", cursive;
}

.definition-title{
	font-size: 17px;
}

.remove {
	background: pink;
}

.shift {
	display:inline-block;
}
.shift > button{
	width:27px;
	height:16px;
	background-repeat: no-repeat;
	background-position:center;
}

/*.resize {
	position:absolute;
	background-image: url('arrow.png');
	padding:0;
	margin:0;
	top:2;
	left:2;
	width:8px;
	height: 11px;
	z-index: 3;
	cursor: se-resize;
}*/